@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-white bg-black selection:bg-yellow-500/30;
    }

    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
}

::-webkit-scrollbar-corner {
    background: transparent;
}